{% extends "base.html.twig" %}

{% block title %}Liste des utilisateurs - Administration{% endblock %}

{% block body %}
    Bienvenue sur la page de listing des utilisateurs {{ app.user.firstName }} !<br><br>

    <table>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Promotion</th>
            <th>Adresse e-mail</th>
            <th>Outils</th>
        </tr>
        {% for student in studentsList %}
            <tr>
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.promotion }}</td>
                <td>{{ student.email }}</td>
                {% if app.user.isSuperAdmin %}
                    <td><a href="{{ path('admin_set_user_admin', {'slug': student.id }) }}" onclick="return confirm('Êtes vous sûr de vouloir changer le rôle de {{ student.firstName ~ ' ' ~ student.lastName }} en administrateur ?')">Rendre administrateur</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}