{% extends "base.html.twig" %}

{% block title %}Liste des demandes - Administration{% endblock %}

{% block body %}
    Bienvenue sur la page de listing des demandes {{ app.user.firstName }} !<br><br>

    <table>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Promotion demandée</th>
            <th>Spécialité demandée</th>
            <th>Niveau d'étude</th>
            <th>Adresse e-mail</th>
            <th>Outils</th>
        </tr>
        {% for request in requestsList %}
            <tr>
                <td>{{ request.firstName }}</td>
                <td>{{ request.lastName }}</td>
                <td>{{ request.wantedPromotion }}</td>
                <td>{{ request.wantedSpeciality }}</td>
                <td>{{ request.actualSchoolLevel }}</td>
                <td>{{ request.email }}</td>
                <td><a href="{{ path('admin_modify_request', {'slug': request.id }) }}">Modifier</a></td>
                <td><a href="{{ path('admin_delete_request', {'slug': request.id }) }}" onclick="return confirm('Êtes vous sûr de vouloir supprimer la demande de {{ request.firstName ~ ' ' ~ request.lastName }} ?')">Supprimer</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}