{% extends "base.html.twig" %}

{% block title %}Admissions - Réinitialisation du mot de passe{% endblock %}
{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/master.min.css') }}">
{% endblock %}

{% block body %}
    {{ form_start(resetForm) }}
    {{ form_errors(resetForm) }}

    {{ form_row(resetForm.email) }}

    <button type="submit" name="_submitReset">Envoyer</button>
    {{ form_end(resetForm) }}
{% endblock %}